.categories-container {
  .categories-main-container {
    .categories-nav-container {
      .categories-nav {
        .categories-nav-title {
          background-color: rgba(16, 108, 192, 0.1);
        }
        .categories-nav-main {
          .list-group-item,
          .form-check {
            .form-check-label {
              .form-check-input {
                cursor: pointer;
              }
            }
          }
          .list-group-item.form-check.active {
            // background-color: #106cc0;
            background-color: #fff;
            color: #106cc0;
          }
        }
      }
      .categories-author {
        .categories-author-title {
          background-color: rgba(16, 108, 192, 0.1);
        }
      }
      .categories-price {
        .categories-price-title {
          background-color: rgba(16, 108, 192, 0.1);
        }
      }
      .categories-publisher {
        .categories-publisher-title {
          background-color: rgba(16, 108, 192, 0.1);
        }
      }
    }
    .categories-main {
      .categories-main-title {
        background-color: #106cc0;
        border-radius: 5px 5px 0px 0px;
      }
    }
  }
}
@media screen and(max-width: 960px) {
  .category-books.row {
    display: grid;
    grid-template-columns: auto auto;
  }
  .category-books.row.row-cols-3 {
    padding-left: 0;
  }
  .categories-main-container {
    .col-sm-3 {
      width: 30%;
    }
    .col-sm-9 {
      width: 70%;
    }
  }
}
@media screen and(max-width: 800px) {
  .category-books.row {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  .category-books.row.row-cols-3 {
    padding-left: 0;
  }
  .categories-main-container {
    .col-sm-3 {
      width: 35%;
    }
    .col-sm-9 {
      width: 65%;
    }
  }
}
@media screen and(max-width: 700px) {
  .category-books.row {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  .category-books.row.row-cols-3 {
    padding-left: 0;
  }
}
@media screen and(max-width: 600px) {
  .category-books.row {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  .category-books.row.row-cols-3 {
    padding-left: 0;
  }
  .categories-main-container {
    .col-sm-3 {
      width: 100%;
    }
    .col-sm-9 {
      width: 100%;
    }
  }
  .categories-main-title {
    margin-top: 20px;
  }
}
