.myOrder{
    border-radius: 5px;
    background-color: #D9EEEF;
    padding: 15px 15px;
    margin-top: 20px;
    line-height: 25px;
    &__title{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
    
    }
    &__information{

        &__quantity{
            color: #61C67A;
            font-weight: bold;
            font-size: 18px;
        }
        &__row{
            // margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            
        }
    }
    &__bill{
        display: flex;
        justify-content: space-between;
        &__name{
            font-weight: 600;
            color: #61C67A;
        }
        &__value{
            color: #F90000;
            font-weight: 600;
        }
       
    }
   
    
}