.slider-container {
  margin-bottom: 50px;
}

.slider-container .slick-prev {
  position: absolute;
  content: "\f0a8";
  left: 3% !important;
  z-index: 1;
}

.slider-container .slick-next {
  position: absolute;
  content: "\f0a8";
  right: 3% !important;
  z-index: 1;
}

.slider-container .slick-prev::before,
.slider-container .slick-next:before {
  position: absolute;
  top: 50%;
  color: #56b74a !important;
  font-family: FontAwesome;
  font-size: 45px;
}

.slider-container .slick-dots li button:before {
  font-size: 20px;
  color: #56b74a !important;
}

.slider-item {
  position: relative;
}

/* Slider 1 nè */

.content-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content-container h1 {
  text-align: center;
  color: #56b74a;
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 20px;
}

.content-container p {
  width: 90%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin: auto;
}

.content-container hr {
  color: white;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.content-container .button-container {
  display: flex;
  justify-content: space-evenly;
}

.button-container .shop-btn {
  padding: 7px 15px;
  background-color: rgba(39, 168, 17, 0.5);
  border: 2px solid white;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.shop-btn:hover {
  opacity: 0.7;
  transition: all ease-in 0.5s;
  transform: scale(1.1);
}

/* Slider 2 nè */
.content1-container {
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translate(-50%, 0);
}

.content1-container h1 {
  text-align: center;
  color: #6eddaf;
}

.custom-btn {
  display: flex;
  padding: 7px 15px;
  background-color: #c4c4c4;
  width: fit-content;
  margin: auto;
  cursor: pointer;
  margin-top: 20px;
}

.custom-btn:hover {
  transform: scale(1.05);
  transition: all ease-in 0.5s;
}

.custom-btn p {
  margin: 0;
  margin-right: 5px;
  font-weight: 500;
  font-size: 18px;
}

/* Slider 3 nè */
.content2-container {
  position: absolute;
  left: 20%;
  top: 2%;
  transform: translate(-20%, 0);
}

.content2-container h2 {
  margin-top: 20px;
  color: white;
}

.content2-container h1 {
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

.shop-transparent-btn {
  color: white;
  font-size: 18px;
  padding: 7px 15px;
  border: solid 2px white;
  cursor: pointer;
  width: fit-content;
  background-color: transparent;
}

.shop-transparent-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all ease 0.5s;
  transform: scale(1.05);
}

/* Slider 4 nè */
.content3-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content3-container h1 {
  color: white;
  text-align: center;
  font-size: 52px;
}

.content3-container p {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
}

.shop-filled-btn {
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(110, 221, 175, 0.48);
  border: 2px solid white;
  width: fit-content;
  padding: 7px 15px;
  margin: auto;
  cursor: pointer;
  transition: all ease 0.5s;
}

.shop-filled-btn:hover {
  transform: scale(1.05);
  background-color: transparent;
}

/* Slider 5 */
.content4-container {
  position: absolute;
  left: 38%;
  top: 60%;
  transform: translate(-38%, -60%);
}

.content4-container h1 {
  color: white;
  font-size: 52px;
  margin-bottom: 20px;
}

.content4-container h3 {
  font-weight: 400;
  font-size: 32px;
  width: 50%;
  margin-bottom: 10px;
}

.content4-container p {
  width: 50%;
  font-size: 18px;
}

@media screen and (max-width: 960px) {
  @media screen and (max-width: 700px) {
    .slider-img {
      height: 400px;
    }
    .slider-container .slick-prev::before,
    .slider-container .slick-next:before {
      position: absolute;
      top: 10%;
      color: #56b74a !important;
      font-family: FontAwesome;
      font-size: 24px;
    }

    .slider-container .slick-dots li button:before {
      font-size: 14px;
      color: #56b74a !important;
    }
  }
}
